node_modules
npm-debug.log
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.env
.env.*
!.env.example
.git
.gitignore
README.md
tests/
.phpunit.result.cache
*.md
!RENDER_DEPLOYMENT.md