# Node / PHP build context noise
node_modules
npm-debug.log
yarn.lock
yarn-error.log

vendor
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

.env
database.sqlite
.idea
.vscode
.git
.gitignore
.DS_Store
